/* CSS untuk tata letak grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-top: 110px; /* Jarak dari atas halaman untuk mengakomodasi elemen input */
}

.image-grid .image-item {
    position: relative;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-grid .checkbox-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

/* CSS untuk input dan tombol */
.input-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* CSS untuk label sedang diproses */
.processing-label {
    display: none;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
    text-align: center;
}

.border-unset {
    border: unset !important;
}

@media screen and (max-width: 576px) {
    .image-grid {
        margin-top: 150px; /* Margin-top for mobile screens */
    }

    .input-container input {
        width: 350px;
    }
}
